/*
 * Terpstra Keyboard WebApp
 * http://terpstrakeyboard.com/play-it-now/keys.htm
 */

/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
	height: 100%;
	background-color: #000000;
	font-size: 62.5%;
}

/**
 * Remove default margin.
 */
body {
	height: 100%;
	margin: 0;
	font-size: 1.5em;  /* currently ems cause chrome bug misinterpreting rems on body element */
	line-height: 1.6;
	font-weight: 400;
	font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #222222;
	display: flex;
	flex-direction: row;
}


/* ---- Forms ---- */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
	color: inherit;  /* 1 */
	font: inherit;  /* 2 */
	margin: 0;  /* 3 */
}

#configuration {
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 1.0em 1.0em;
	background-color: #FFFFFF;
	background-image: url(Pattern3D_06.png);
	background-repeat: repeat;
	z-index: 1;
}


/* ---- Typography ---- */
h1, h2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-weight: 300;
	text-align: center;
}

h1 {
	font-size: 4.0rem;
	line-height: 1.2;
	letter-spacing: -0.1rem;
}

h2 {
	margin-top: 0em;
	font-size: 3.6rem;
	line-height: 1.25;
	letter-spacing: -0.1rem;
}

/* Larger than phablet */
@media (min-width: 550px) {
	h1 {
		font-size: 5.0rem;
	}
	h2 {
		font-size: 4.2rem;
	}
}

p {
	margin-top: 0;
}


/* ---- Links ---- */
a {
	color: #1EAEDB;
}

a:hover {
	color: #0FA0CE;
}

h2 a {
	color: #222222;
	text-decoration: none;
}

/* ---- Buttons ---- */
button {
	display: block;
	max-width: 100%;
	margin-bottom: 1rem;
	padding: 0 30px;
	color: #555555;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	background-color: #ffffff;
	border-radius: 4px;
	border: 1px solid #bbbbbb;
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}

button:hover,
button:focus {
	color: #333333;
	border-color: #888888;
}


/* ---- Forms ---- */
input[type="number"],
input[type="text"],
textarea,
select {
	height: 38px;
	padding: 6px 10px;  /* The 6px vertically centers text on FF, ignored by Webkit */
	background-color: #ffffff;
	border: 1px solid #D1D1D1;
	border-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
}

textarea {
	min-height: 65px;
	padding-top: 6px;
	padding-bottom: 6px;
}

input[type="number"]:focus,
input[type="text"]:focus,
textarea:focus,
select:focus {
	border: 1px solid #33C3F0;
	outline: 0;
}

label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: 600;
}

input[type="radio"] {
	margin-bottom: 0;
}


/* ---- Spacing ---- */
input,
textarea,
select {
	margin-bottom: 1.5rem;
}

p,
form {
	margin-bottom: 2.5rem;
}

#configuration input[type=number], #configuration select, #configuration textarea {
	width: 100%;
	box-sizing: border-box;
}

#configuration > *:last-child {
	margin-bottom: 0em;
}

#configuration .grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3.0em;
	column-gap: 4%;
}

#configuration .grid > *:nth-child(3), #configuration .grid > *:nth-child(4) {
	margin-bottom: 2.5em;
}

@media (min-width: 550px) {
	#configuration {
		width: 80%;
		padding: 3em 5em;
		border: 0.1em solid #D1D1D1;
		border-radius: 3em;
	}
	
	#configuration .grid {
		grid-template-columns: repeat(4, 1fr);
		column-gap: 2.5%;
		row-gap: 2.5em;
	}
	
	#configuration .grid > *:nth-child(3), #configuration .grid > *:nth-child(4) {
		margin-bottom: 0em;
	}
}

#keyboard {
	position: fixed;
	left: 0;
	top: 0;
}

#keyboard-container.inactive #keyboard {
	opacity: 0.3;
}

#backButton {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	padding: 8px;
	background-color: #FFFFFF;
	border: 2px solid #A0A0A0;
	border-radius: 50%;
}

#keyboard-container.inactive #backButton {
	display: none;
}

.iosscrollable {
	height: auto;
	-webkit-overflow-scrolling: touch;
}

input[type=number] {
	text-align: right;
}

div.radio-group {
	display: table;
}

div.radio-group > label {
	display: table-row;
}

div.radio-group > label > * {
	display: table-cell;
}

div.radio-group > label > span {
	padding-left: 0.6em;
	padding-bottom: 0.3em;
	font-weight: normal;
}

@media screen and (max-width: 350px) {
	button {
		padding: 0 10px;
	}
}
